@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px; 
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit}

input::-ms-clear{display: none}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

.header{
  padding: 20px 0px 0px 0px; 
}

.intro_text{
  font-size: 32px;
  font-weight: 700;
  padding: 0px 0px 0px 0px;
  word-wrap: break-word;
}

.intro{
  margin-bottom: 24px;
}

.intro_logo{
  margin: 0 auto;
  padding: 0 0 60px 0;
  width: 36px;
  height: 38px;
}

.intro_logo_img{
  width: 36px;
  height: 38px;
}


.intro_text p{
  text-align: center;
  line-height: 38px;
}

.intro_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.intro_buttons_item{
  display: inline-block;
  padding: 15px 30px;
  color: white;
  border: 1px solid #0057FF;
  border-radius: 10px;
  user-select: none;
  line-height: 1.5;
  font-size: 25px;
  width: 92%;
}

.button_reg{
  background: #0057FF;
}

.button_enter{
  background: white;
  color: #0057FF;
  margin-top: 16px;
}

.picture img {
  width: 100%; 
}

.picture_header{
  width: 440px;
}

.main{
  display: flex;
  flex-direction: column;
}

.statistics{
  background: #0057FF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.statistics_block_item{
  text-align: center;
  margin: 36px 0 36px 0;
}

.statistics_num{
  color: white;
  font-size: 48px;
  font-weight: 300;
}

.statistics_text{
  margin-top: 5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}


.messages_topic{
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 900;
}

.messages{
  max-width: 100%;
  margin: 42px 10px 42px 10px;
  display: flex;
  flex-direction: column;
}

.messages_avatar img{
  border-radius: 30px;
}

.messages_block{
  max-width: 100%;
  display: flex;
}

.messages_avatar{
  margin-right: 16px;
}


.messages_time{
  text-align: end;
  color: #ABACB1;
  flex-grow: 1;
}

.messages_info_nickname{
  color: #ABACB1;
}

.messages_info{
  display: flex;
  flex-direction: column;
}

.messages_p{
  margin-bottom: 24px;
}


.messages_info_text{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}

.messages_info_name_nickname{
  margin-bottom: 5px;
}

.messages_info_name_nickname p{
  margin: 0;
}

.messages_info_nickname{
  color: #ABACB1;
}

.icon_item{
  display: inline-block;
  font-size: 14px;
  color: #ABACB1;
}

.messages_icons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.messages_info_img img{
  margin: 0 0 20px 0;
}

.left_icon_block_num{
  margin-left: 10px;
}

.msvetov_text{
 background: linear-gradient(0deg, #FFFFFF 21.87%, rgba(255, 255, 255, 0) 100%);
 mix-blend-mode: normal;
}

.footer{
  max-width: 100%;
}

.footer_text{
  padding: 0 50px 0 50px;
}
