@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    max-width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px; 
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit}

input::-ms-clear{display: none}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

header{
    display: flex;
    flex-direction: column;
}

.header__content{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    font-size: 32px;
    font-weight: bold;
}

.logo{
    margin: 0 auto;
}

.logo__text{
    text-align: center;
}

.logo__text p{
    margin-bottom: 15px;
    margin-top: 22px;
}

.footer__content{
    display: flex;
    flex-direction: column;
}

.button__reg{
    background-color: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
    width: 100%;
    padding: 15px 0;
}

.button__enter{
    border: 1px solid #0057FF;
    border-radius: 10px;
    color: #0057FF;
    background: white;
    font-size: 18px;
    width: 100%;
    padding: 15px 0;
}

.main__content__stat{
    background: #0057FF;
    color: white;
    text-align: center;
}

.header__photo{
    width: 100%;
}

.header__photo__img{
    width: 100%;
}

.footer__content{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    font-size: 32px;
    font-weight: bold;
}

.main__content__messages__block{
   margin: 42px 16px 0px 16px; 
}

.main__content__messages__block{
    display: flex;
    margin-top: 24px;
}

.main__content__messages__userTime{
    flex-grow: 1;
    text-align: end;
    color: #ABACB1;
}

.messages__userText__nickName{
    color: #ABACB1;
    font-size: 14px;
}

.messages__userText__name{
    font-size: 14px;
    font-weight: 900;
}

.messages__userText__text{
    font-size: 16px;
}

.main__content__messages__title{
    font-size: 24px;
    font-weight: 900;
    line-height: 19px;
    margin-top: 42px;
    margin-left: 16px;
}

.main__content__messages__userLogo img{
    border-radius: 30px;
}

.main__content__messages__userLogo{
    margin-right: 16px;
}

.messages__userText__text{
    margin-top: 5px;
}

.messages__userText__icons{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
}

.icon p{
    margin-left: 12px;
    color: #B1B1B1;
    size: 14px;
}

.messages__userText__icons{
    margin-top: 5px;
    max-width: 200px;
}

.messages__line{
    height: 1px;
    width: 100%;
    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    margin: 16px 0;
}

.main__content__messages__userTime{
    font-size: 10px;
}

.messages__userPicture img{
    border-radius: 10px;
    margin-top: 10px;
}

.svetov{
    background: linear-gradient(0deg, #FFFFFF 21.87%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
}

.messages__userPicture img{
    width: 100%;
}

.main__stat__wrapper{
    padding: 36px 0;
}

.main__content__stat__block{
    margin-bottom: 32px;
}

.main__content__stat__block:last-child{
    margin-bottom: 0;
}

.main__content__stat__block__num{
    font-size: 48px;
    font-weight: 300;
}

.main__content__stat__block__text{
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.messages__userText__text{
    line-height: 19px;
}